<nav class="navbar navbar-expand-lg static-top">
    <div class="container">
        <i class="fa fa-home" aria-hidden="true"></i>
        <a class="navbar-brand title" href="/">Funny Movies</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <% if current_user %>
                    <h1> Test </h1>
                    <li class="nav-item user-info">
                        <%= "Welcome #{current_user.email}" %>
                    </li>
                    <li class="padding-right-10">
                        <%= link_to 'Share a movie', new_movie_path, class: "btn btn-outline-secondary" %>
                    <li>
                        <%= link_to 'Log Out', destroy_user_session_path, method: :delete,  class: "btn btn-outline-secondary" %>
                    </li>
                <% else %>
                    <li class="nav-item active">
                        <%= render partial: "layouts/login"%>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/sign_up">Register</a>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</nav>